# Исключаем файлы и папки, которые не нужны в контейнере

# Игнорируем виртуальное окружение
venv/
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорируем Git и IDE-файлы
.git/
.gitignore
.idea/
.vscode/

# Исключаем базу данных (используем volume)
db.sqlite3
*.db

# Игнорируем статику (будем генерировать в контейнере)
#static/

# Логи и временные файлы
*.log
*.swp
.DS_Store
